# Spotify Developer Credentials
SPOTIPY_CLIENT_ID='your_client_id_here'
SPOTIPY_CLIENT_SECRET='your_client_secret_here'
SPOTIPY_REDIRECT_URI='http://localhost:8888/callback'

# Cấu hình lưu trữ
DOWNLOAD_DIR='./data/downloads'
VECTOR_DB_DIR='./data/vector_db'
